nav{
    font-size: 2rem;
    background-color:aliceblue;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content:space-around;
}


/* flex:auto意思是：the item takes all space around it equally. 
就是把剩余空间(available space)也利用起来 */
nav ul li{
    cursor: pointer;
    padding: 0.5rem;
    flex:auto; 
    text-align: center;
}

nav ul li:hover{
    background-color: rgb(104, 110, 108);
    color:azure;
}



/* @media css style can be used to apply part of the 
style sheet based on media quaries */
@media screen and (max-width:400px) {
    nav ul{
        flex-direction: column;
    }
}